.App-logo{
    height: 150px
}

.App-name{
    height: 150px
}

.nameandlogo {
    display: flex;
    align-items: center;
    padding: 0 20px;

    &.with-cart {
        justify-content: space-between;
    }

    &.no-cart {
        justify-content: left;
        gap: 310px; // small spacing between logo and name
    }
}

.link{
    align-content: center;
}

.cart{
    margin-left: auto;
    background: #4caf50;
    color: #fff;
    border: none;
    padding: 6px 14px;
    border-radius: 8px;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.2s;
    font-size: large;

    &:hover {
        background: #45a049;
    }
}